<div ng-controller="forgotController">
<form class="login-form" novalidate action="https://goo.gl/forms/Lm9zAkP3Y8oBcDNB2">
    

    
    <div class="form-group" layout-align="center">
       <h5>Don't worry we got your back</h5>
       <p class="center-align">We are really sorry for the problem you're facing, let us know by filling the form.</p>
    </div>
    <div class="form-group">
                <button class="btn btn-primary" type="submit" >Fill the form</button>
    </div>
    <div class="form-group" >
        <p class="center-align">Go <a ui-sref="login.signin">back</a> </p>
      
    </div>
</form>
</div>
<style>
  #LoginPanel {
       
        background: url(img/loginBackground.png) no-repeat center center fixed; 
        width: 100%;
        height: 100%;
        

    }
</style>